.shopping-cart-body{
    background:#fff;
    min-width:320px;
}
.shopping-cart-item--photo{
    width:60px;
    height:60px;
    flex-shrink:0;
}
.shopping-cart-item{
    padding:20px;
    border-bottom:1px solid #ccc;
    position:relative;
}
.shopping-cart-item--title{
    padding-left:10px;
    font-weight:700;
}
.shopping-cart-item--photo img{
    width:100%;
    height:100%;
}
.shopping-cart-counter{
    width:20px;
    height:20px;
    border-radius:50%;
    color:#fff;
    font-weight:700;
    position:absolute;
    top:-10px;
    right:-10px;
    z-index: 1000;
}
.shopping-cart-total{
    padding:15px 20px;
}
.dropdown-menu.show{
    z-index: 1000;
    left:-247px !important;
}
.cart-place .shopping-cart-item--remove{
   width:auto;
    height:auto;
    position:absolute;
    top:0px;
    right:15px;
}
@media(max-width:1367px){
    .dropdown-menu.show {
        left: -115px !important;
    }
}