.header{
    background: #3a50e6;
}
.header .container{
   position: relative;
    padding:20px 15px;
    display:flex;
    flex-direction: column;
    align-items:center;
    z-index:100;
}
.header h2{
    text-align:center;
    font-size:20px;
    color:#fff;
    padding-bottom:15px;
}
.header input{
    border:none;
    padding:15px;
    border-radius: 3px;
    width:300px;
}
.cart-place{
    position: absolute;
    right:0;
    top:27%;
    transform:translateX(-50%);
}
.cart-place button{
    width:60px;
    height:60px;
    border:none;
    background:transparent;
    padding:0;
}
.cart-place button:after{
    display:none;
}
.cart-place button:hover, .cart-place button:focus, .cart-place button:active{
    background-color:transparent !important;
    outline: none;
}
.cart-place button img{
    width:100%;
    height:100%;
}
