.pizza-item{
    text-align:center;
    border:1px solid #ccc;
    border-radius:3px;
    padding:20px;
    background:#fff;
    height:100%;
}
.pizza-item--title{
    font-weight:700;
    font-size:20px;
    color:#000;
    padding-bottom:30px;
}
.pizza-item--desc{
    font-size:16px;
    padding-top:20px;
    padding-bottom:20px;
    min-height:136px;
}
.pizza-item--photo{
    max-width:300px;
}
.pizza-item--photo img{
    width:100%;
    height:100%;
}
.pizza-item button{
    background:#000;
    border-radius:3px;
    color:#fff;
    border:none;
    padding:10px 15px;
}
.pizza-item--price{
    font-size:18px;
    font-weight:700;
    padding:20px 0 20px;
}